

{% extends 'base.html' %}
{% load static %}


{% block content %}
<section class="contact-us">
    <div class="container">
      <div class="row">
      
        <div class="col-lg-12">
          <div class="down-contact">
            <div class="row">
              <div class="col-lg-8">
                <div class="sidebar-item contact-form">
                  <div class="sidebar-heading">
                    <h2>Send us a message</h2>
                  </div>
                  <div class="content">
                    <form id="contact" action="" method="post">
                      {% csrf_token %}
                      {% comment %} {{ form.non_field_errors }}
                      <div class="row"> {% endcomment %}
                       
                          <div class="col-lg-12">
                            {{ form }}
                          
                         
{% comment %}                           
                             {% if form.name.errors %}
                             <div class="alert alert-danger"> {{ form.name.errors }} </div>
                                                                        
                             {% endif %}
                             {{ form.name }}
                              

                              {% if form.text.errors %}
                              <div class="alert alert-danger">{{ form.text.errors }}</div>
                              
                              {% endif %}
                              {{ form.text }}
                              
                                              {% endcomment %}
                                    
                                              
                        <div class="col-lg-12">
                          <fieldset>
                            <button type="submit" id="form-submit" class="main-button">Send Message</button>
                          </fieldset>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
              <div class="col-lg-4">
                
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        
        <div class="col-lg-12">
          <div id="map">
            <iframe src="https://maps.google.com/maps?q=Av.+L%C3%BAcio+Costa,+Rio+de+Janeiro+-+RJ,+Brazil&t=&z=13&ie=UTF8&iwloc=&output=embed" width="100%" height="450px" frameborder="0" style="border:0" allowfullscreen></iframe>
          </div>
        </div>
        
      </div>
    </div>
  </section>
  
  
  
  
{% endblock %}
